.App {
  display:flex;
  justify-content: space-evenly;
  padding:30px;
  background-color: rgb(230, 159, 159);
}
.header{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgb(73, 233, 238);
  border-radius: 25px;
}
.cardPart{
  display: flex;
  justify-content: space-around;
  padding:20px;
  gap:20px;
  background-color: rgb(197, 233, 79);
  border-radius: 25px;
}
.container{
  float: left;
  margin-top: 2rem;
  
}
.iconFa{
  float: right;

}
.search-container{
  border:1px solid black;
  padding:1rem;
  margin-bottom:1rem;
  border-radius: 25px;
}
.container1{
  display:flex;
  flex-wrap: wrap;
  
}
.item {
  border: 1px solid black;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 990px) {
  .App{
    flex-direction: column;
  }
}